.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .video-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .video-item {
    align-items: center;
    flex-direction: row;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }

  .video-item-text-data-container{
    margin-left: 10px;

    text-align: left;
  }
  
  .video-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .video-item h3 {
    margin: 0;
  }
  
  .pagination {
    margin: 20px;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .sort-options {
    margin: 20px;
  }
  
  .sort-options select {
    padding: 5px;
    font-size: 16px;
  }